
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color: #FFFFFF;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}
.sub-logo {
    color: #2e2f42;
}

.link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.link:hover,
.link:focus {
    color: #404bbf;
}
.contact-list {
    font-style: normal;
}
.contact {
    letter-spacing: 0.02em;
    color: #434455;
}
.contact:hover,
.contact:focus {
    color: #404BBF
}
.hero-section{
    background-color: #2e2f42;
}
.hero-section .section-title {
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff
}

.section-title {
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #ffffff;
}
.order-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.order-button:focus,
.order-button:hover {
    background-color: #404BBF;
}
.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.description {
    letter-spacing: 0.02em;
}
.our-team-section {
    background-color: #F4F4FD;
}
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02;
    text-transform: capitalize;
    color: #2e2f42;
}
.image-background {
    background-color: #FFFFFF;
}
.footer-sub-logo {
    color: #f4f4fd;
}
.footer-description {
    color: #F4F4FD;
}
